/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/app/Http/Controllers/*
!/app/Http/Controllers/Controller.php
!/app/Http/Controllers/Api/PostController.php
/app/Http/Livewire/*
/app/Models/*
!/app/Models/Post.php
/database/migrations/2023_04_28_030844_create_tbl_auth.php
/database/migrations/2023_04_28_031952_create_tbl_karyawan.php
/database/migrations/2023_06_27_141129_create_jurusan_table.php
/resource/views/components/layouts/app.blade.php
/resources/views/main.blade.php
/resources/views/auth/*
/resources/views/livewire/*
/database_table/*
/public/assets/*
/public/css/*
/public/js/*
/public/assets/vendor/livewire/*
